@import "../../styles//variables";

.videoContainer {
  @include flexCenter();
  flex-direction: column;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 15px;

  &:hover {
    background: var(--secondary-bg-color);
    img {
      border-radius: 0;
      transition: 0.5s;
    }
  }
}

.videoImage {
  transition: 0.5s;
  width: 100%;
  img {
    border-radius: 12px;
    object-fit: cover;
    max-height: 155px
  }
}

.videoContent {
  @include flexCenter(flex-start, flex-start);
  gap: 10px;
  width: 100%;
  padding: 10px 5px;
  img {
    width: 40px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
  }
}

.videoDesc {
  display: flex;
  flex-direction: column;
  gap: 3px;
  h3 {
    @include font(var(--primary-font-color), 13px, 500);
    letter-spacing: 0;
    text-transform: capitalize;
  }
  p {
    @include font(var(--secondary-font-color), 12px, 400);
  }
  .videoResultSection {
    display: flex;
    align-items: center;
    p:nth-child(2)::before {
      content: "•";
      margin: 0 4px;
    }
  }
}
