@import "../../styles/variables";

.vidWidth {
  display: flex;
  gap: 20px;
  margin-block: 15px;
}
.videosList {
  @include skeleton(360px, 200px);
}

.contentSize {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading {
  @include skeleton(100%, 30px);
}

.videosInfo {
  display: flex;
  gap: 15px;
}

.image {
  @include skeleton(40px, 40px);
  border-radius: 20px;
}

.titleWrapper {
  flex-basis: 90%;
}

.title {
  @include skeleton(90%, 20px);
  margin-bottom: 5px;
}
.subTitle {
  @include skeleton(150px, 15px);
}

@media (max-width: 800px) {
  .vidWidth {
    flex-direction: column;
  }
  .videosList {
    @include skeleton(100%, 250px);
  }
}
