@mixin font($color: #333, $size: 16px, $weight: 400) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin flexCenter($content-position: center, $align-content: center) {
  display: flex;
  justify-content: $content-position;
  align-items: $align-content;
}

@mixin bgTransitionWithHover() {
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    background: var(--icons-bg-on-hover);
  }
}

@mixin contentListWithHover() {
  padding: 6px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  @include font(var(--primary-font-color), 13px, 400);
  &:hover {
    @include bgTransitionWithHover();
    background: var(--icons-bg-on-hover);
  }
}

@mixin skeleton($width, $height) {
  animation: skeleton-loading 1.2s linear infinite alternate;
  width: $width;
  height: $height;
  border-radius: 10px;
  @keyframes skeleton-loading {
    0% {
      background-color: var(--darkMode-skeleton-loader);
    }

    100% {
      background-color: var(--darkMode-Secondary-skeleton-loader);
    }
  }
}
