@import "../../styles/variables.scss";

.detailPageWrapper {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;

  .playVideoWrapper {
    flex-basis: 60%;
  }

  .videoPlayerContainer {
    iframe {
      border-radius: 10px;
      // height: 30dvw;
      aspect-ratio: 2/1.2;
    }

    h2 {
      font-size: 18px;
      font-weight: 600;
      color: var(--primary-font-color);
    }

    .creatorInfo {
      display: flex;
      gap: 20px;

      figure {
        width: 40px;
        height: 40px;

        img {
          border-radius: 30px;
        }
      }
    }

    .subsInfo {
      display: flex;
      flex-direction: column;
      gap: 4px;

      h6 {
        font-size: 18px;
        font-weight: 600;
        color: var(--primary-font-color);
        text-transform: capitalize;
      }

      p {
        font-size: 14px;
        font-weight: 500;
        color: var(--secondary-font-color);
      }
    }
  }

  .playlistWrapper {
    flex-basis: 40%;
    overflow: auto;
  }
}

.content {
  h3 {
    font-size: 12px !important;
    line-height: inherit !important;
  }
}

.vidDetailedInfo {
  margin-block: 15px;
  background: var(--secondary-bg-color);
  padding: 10px;
  border-radius: 10px;
  @include font(var(--primary-font-color), 14px, 400);
  line-height: 1.5;
  word-wrap: break-word;
}

.imageWidth {
  max-width: 200px;
  min-width: 200px;
}

@media (max-width: 1000px) {
  .detailPageWrapper {
    flex-direction: column;
  }
  // .videoPlayerContainer {
  //   iframe {
  //     height: 50dvw;
  //   }
  // }
}
