@import "../../styles/variables";

.slidersContainer {
  max-width: 100%;
  overflow: hidden;
  position: sticky;
  top: 64px;
  background: var(--bg-color);
  padding-block: 20px
}

.categoryLists {
  @include flexCenter(flex-start, center);
  flex-wrap: wrap;
  gap: 20px;
  text-transform: capitalize;

  li {
   @include contentListWithHover();
  }
}
