@import "../../styles/variables";

.videosLoader {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.vidWidth {
  flex-basis: 24%;
  flex-grow: 1;
}
.videosList {
  @include skeleton(100%, inherit);
  aspect-ratio: 1.8;
}

.videosInfo {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.image {
  @include skeleton(40px, 40px);
  border-radius: 20px;
}

.titleWrapper {
  flex-basis: 90%;
}

.title {
  @include skeleton(90%, 20px);
  margin-bottom: 5px;
}
.subTitle {
  @include skeleton(150px, 15px);
}

@media (max-width: 880px) {
  .videosLoader {
    justify-content: space-between;
  }
  .vidWidth {
    flex-basis: 47%;
  }
}

@media (max-width: 680px) {
  .vidWidth {
    flex-basis: 100%;
  }
}
