@import "../../styles/variables";

.headerWrapper {
  @include flexCenter(space-between, center);
  padding: 5px 15px;
  position: sticky;
  top: 0;
  background: var(--bg-color);
  z-index: 10;
  .logoSection {
    flex-basis: 20%;
    @include flexCenter(flex-start, center);
    gap: 20px;
    .logo {
      width: 100px;
      max-height: 54px;
    }
  }
  .searchSection {
    flex-basis: 50%;
  }
  .manageAcountSection {
    flex-basis: 20%;
    @include flexCenter(flex-end, center);
  }
}

.profilePic {
  width: 30px;
  height: 30px;

  img {
    border-radius: 30px;
  }
}

.setModes {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 20px;
  border-bottom: 1px solid var(--border-color);
}

.mobileBtn {
  display: none;
}

@media (max-width: 800px) {
  .desktopBtn,
  .searchSection {
    display: none;
  }

  .mobileBtn {
    display: block;
  }
}

//sidebar css

.sidebarConatiner {
  padding: 15px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.title {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-font-color);
}

.listSections {
  margin-block: 15px;
  @include contentListWithHover();
}

.copyright {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  font-size: 13px;
  font-weight: 600;
  color: var(--secondary-font-color);
  line-height: 1.5;
}

.searchModal {
  width: initial;
  padding: 20px;
  bottom: inherit;
  right: 0;
}
