@import "../../styles/variables.scss";

.searchResultsContainer {
  width: 80%;
  margin: 20px auto;
}

.resultsTitle {
  text-transform: capitalize;
  margin-bottom: 30px;
  text-align: center;
  @include font(var(--primary-font-color), 18px, 600);
  strong {
    font-size: 16px;
    font-weight: 500;
  }
}

.videoWrapper {
  display: flex;
  align-items: flex-start;
}
