body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding: 0;
  background: var(--bg-color);
  overflow-x: hidden;
  font-family: Roboto, Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.light-theme {
  --bg-color: #fff;
  --secondary-bg-color: #f8f8f8;
  --primary-font-color: #0f0f0f;
  --secondary-font-color: #606060;
  --error-page-bg: #f1f1f1;
  --border-color: #d3d3d3;
  --icons-bg: rgba(0, 0, 0, 0.05);
  --icons-bg-on-hover: rgba(0, 0, 0, 0.1);
  --skeleton-bg-color: rgba(256, 256, 256, 0.3);
  --dropDown-bg-color: #fff;
  --darkMode-skeleton-loader: hsl(200, 20%, 80%);
  --darkMode-Secondary-skeleton-loader: hsl(200, 20%, 95%);
}

.dark-theme {
  --bg-color: #0f0f0f;
  --secondary-bg-color: hsla(0, 0%, 100%, 0.08);
  --primary-font-color: #f1f1f1;
  --secondary-font-color: #aaa;
  --error-page-bg: #212121;
  --border-color: hsla(0, 0%, 53.3%, 0.4);
  --icons-bg: rgba(255, 255, 255, 0.1);
  --icons-bg-on-hover: rgba(255, 255, 255, 0.2);
  --skeleton-bg-color: rgba(256, 256, 256, 0.3);
  --dropDown-bg-color: #282828;
  --darkMode-skeleton-loader: hsl(0, 0%, 14%);
  --darkMode-Secondary-skeleton-loader: hsl(0, 0%, 29%);
}

.icons {
  color: var(--primary-font-color);
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.large-icons {
  color: var(--primary-font-color);
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.small-icons {
  color: var(--primary-font-color);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

@media (max-width: 800px) {
  .icons {
    width: 20px;
    height: 20px;
  }
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid var(--primary-font-color);
  border-radius: 12px;
  background: var(--primary-font-color);
  color: var(--bg-color);
  font-weight: 500;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

p,
figure,
h3,
h6 {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: var(--primary-font-color);
  text-decoration: none;
}
